run = "npm run build"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 41762902
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && node index.js"
