@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-900 text-white;
}

@keyframes ripple {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes splash {
  0% {
    transform: scale(0.5) translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.5) translateY(-10px);
    opacity: 0;
  }
}

@keyframes explode {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-splash {
  animation: splash 0.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.animate-explode {
  animation: explode 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}